.btn {
    display:inline-block;
    margin: 1em 0px 0px 2em;
    width: 15%;
    border: 1px solid ;
    text-align: center;
    padding: 1em 0 0 0;
}

#userInfo {

    text-align: center;

}

#container {

    margin: 0 auto 0 auto;
    width: 100%;
}
h1 {

    text-align: center;
}